body {
    font-family: "poppins";
    color: #656565;
    background-color: #f3f3f3;
}

/* ?text-color */

.text-green-limon {
    color: #7ab730;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #212121;
}

.text-black-hover {
    color: #212121;
}

.text-black-hover:hover {
    color: #7ab730;
}

/* *texto-styles */
.text-center {
    text-align: center;
}

.text-dnone {
    text-decoration: none;
}

.letter-spancing-5 {
    letter-spacing: 5px;
}

/* *border */
.bright-grey {
    border-right: 1px solid #656565;
}

.b-rgba-grey {
    border: 1px solid rgb(0 0 0 / 10%);
}

.b-green {
    border: 2px solid #7ab730;
}

.b-white {
    border: 1px solid #fff;
}


/* *height */
.lh-25 {
    line-height: 25px;
}

.lh-35 {
    line-height: 35px;
}

.lh-40 {
    line-height: 40px;
}

.h-15p {
    height: 15px;
}

.h-100p {
    height: 100px;
}

.h-500p {
    height: 500px;
}

.h-30vh {
    height: 30vh;
}

/* *width */
.w-100p {
    width: 100px;
}

/* *padding */
.pb-25 {
    padding-bottom: 25px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.p-button {
    padding: 10px 20px;
}

.p-35 {
    padding: 35px;
}

.p-30 {
    padding: 30px;
}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

/* *margin */

.mt-5 {
    margin-top: 5px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-7 {
    margin-left: 7px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-25 {
    margin-left: 25px;
}

.mr-15 {
    margin-right: 15px;
}

/* *font-size */
.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.fs-27 {
    font-size: 27px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-55 {
    font-size: 55px;
}

/* *background */

.bg-primary-01 {
    background-image: url(../images/carousel-1.jpg);
}

.bg-primary-02 {
    background-image: url(../images/carousel-2.jpg);
}

.bg-green-limon {
    background-color: #7ab730;
}

.bg-white {
    background-color: #fff;
}

/* *image */

.pack-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* *box-shadow */

.box-form {
    box-shadow: 0px 10px 20px -5px #656565;
}

/* *lados */

.top-0 {
    top: 0;
}

/* !clases especiale */

.destination-items {
    transition: 0.5s;
}

.cape {
    background-color: rgb(0 0 0 / 50%);
    outline: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.destination:hover .cape {
    outline-width: 35px;
}

.destination:hover .destination-items {
    overflow: hidden;
    transform: scale(1.2);
    border-width: 30px;
    z-index: 1;
}