body {
    font-family: "poppins";
    color: #656565;
    background-color: #f3f3f3;
}

/* ?_________________________________text-color______________________________________ */

.text-green-limon {
    color: #7ab730;
}

.text-white {
    color: #fff;
}

.text-white-hover:hover {
    color: #fff;
}

.text-black {
    color: #212121;
}

.text-black-hover {
    color: #212121;
}

.text-black-hover:hover {
    color: #7ab730;
}

/* ?__________________________________________texto-styles______________________________ */
.text-center {
    text-align: center;
}

.text-dnone {
    text-decoration: none;
}

.letter-spancing-5 {
    letter-spacing: 5px;
}

.lista-dnone {
    list-style: none;
}

/* ?_______________________________________________border_________________________________ */
.bright-grey {
    border-right: 1px solid #656565;
}

.bt-dark-white {
    border-top: 1px solid #dee2e6;
}

.b-rgba-grey {
    border: 1px solid rgb(0 0 0 / 10%);
}

.b-rgba-white {
    border: 1px solid rgb(255 255 255 / 10%);
}

.b-green {
    border: 2px solid #7ab730;
}

.b-green-1 {
    border: 1px solid #7ab730;
}

.b-white {
    border: 1px solid #fff;
}


/* ?________________________________________________height_________________________________ */
.lh-25 {
    line-height: 25px;
}

.lh-27 {
    line-height: 27px;
}

.lh-35 {
    line-height: 35px;
}

.lh-40 {
    line-height: 40px;
}

.h-15p {
    height: 15px;
}

.h-100p {
    height: 100px;
}

.h-500p {
    height: 500px;
}

.h-40p {
    height: 40px;
}

.h-30vh {
    height: 30vh;
}

/* ?________________________________________________width________________________________ */
.w-70 {
    width: 70%;
}

.w-30 {
    width: 30%;
}

.w-100p {
    width: 100px;
}

.w-40p {
    width: 40px;
}

/* ?__________________________________________________padding_________________________________ */
.pb-100 {
    padding-bottom: 100px;
}

.pb-45 {
    padding-bottom: 45px;
}

.pb-25 {
    padding-bottom: 25px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-15 {
    padding: 15px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-100 {
    padding-top: 100px;
}


.pt-45 {
    padding-top: 45px;
}

.pt-30 {
    padding-top: 30px;
}

.pt-25 {
    padding-top: 25px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-15 {
    padding-top: 15px;
}

.pt-10 {
    padding-top: 10px;
}

.pt-5 {
    padding-top: 5px;
}

.pl-10 {
    padding-left: 10px;
}

.pl-15 {
    padding-left: 15px;
}

.pl-20 {
    padding-left: 20px;
}

.pr-10 {
    padding-right: 10px;
}

.pr-15 {
    padding-right: 15px;
}

.pr-20 {
    padding-right: 20px;
}

.p-button {
    padding: 10px 20px;
}

.p-40 {
    padding: 40px;
}

.p-35 {
    padding: 35px;
}

.p-30 {
    padding: 30px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-10 {
    padding: 10px;
}

/* ?___________________________________________margin______________________________________ */

.m-auto {
    margin: auto;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-48 {
    margin-top: 48px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-100 {
    margin-top: 100px;
}

.mt-200 {
    margin-top: 200px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-7 {
    margin-left: 7px;
}

.ml-15 {
    margin-left: 15px;
}

.ml-25 {
    margin-left: 25px;
}

.mr-15 {
    margin-right: 15px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-7 {
    margin-right: 7px;
}

.mr-5 {
    margin-right: 5px;
}

/* ?_______________________________________________________font-size_____________________ */
.fs-15 {
    font-size: 15px;
}

.fs-16 {
    font-size: 16px;
}

.fs-17 {
    font-size: 17px;
}

.fs-20 {
    font-size: 20px;
}

.fs-25 {
    font-size: 25px;
}

.fs-27 {
    font-size: 27px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fs-50 {
    font-size: 50px;
}

.fs-55 {
    font-size: 55px;
}

/* ?________________________________________________background______________________________ */

.bg-primary-01 {
    background-image: url(../images/carousel-1.jpg);
}

.bg-primary-02 {
    background-image: url(../images/carousel-2.jpg);
}

.bg-secundary {
    background-color: rgb(0 0 0 / 50%);
}

.bg-secundary-hover {
    background-color: rgb(0 0 0 / 50%);
}

.bg-green-limon {
    background-color: #7ab730;
}

.bg-white {
    background-color: #fff;
}

.bg-black {
    background-color: #212121;
}

/* ?________________________________________________image________________________________ */

.pack-image {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* ?______________________________________________box-shadow_______________________________ */

.box-form {
    box-shadow: 0px 10px 20px -5px #656565;
}

/* ?_________________________________________________lados______________________________ */

.top-0 {
    top: 0;
}

/* !_____________________________________clases especiale_______________________________ */

.destination-items {
    transition: 0.5s;
}

.cape {
    background-color: rgb(0 0 0 / 50%);
    outline: 1px solid rgba(255, 255, 255, 0.5);
    transition: 0.5s;
}

.destination:hover .cape {
    outline-width: 35px;
}

.destination:hover .destination-items {
    overflow: hidden;
    transform: scale(1.2);
    border-width: 30px;
    z-index: 1;
}

.square-icons-green {
    height: 75px;
    width: 75px;
    border: 1px solid #7ab730;
}

.ttraslate-y-50 {
    transform: translateY(50px);
}

.ttransfor-y-30 {
    transform: translateY(30px);
    transition: 0.5s;
}

.social-transitions:hover .ttransfor-y-30 {
    transform: translateY(0px);
}

/* .pack-social .ttransfor-y-20 {
    transform: translateY(0px);
    height: 50%;
} */

.date-blog {
    background-color: #7ab730;
    width: 55px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 25px;
    left: -15px;
}

.date-blog::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: -15px;
    left: 0;
    border-left: 8px solid transparent;
    border-top: 8px solid transparent;
    border-right: 8px solid #5f8f25;
    border-bottom: 8px solid #5f8f25;
    z-index: 1;

}

.focus-newsletter:focus {
    outline: 2px groove #7ab730;
}

.button-fixed {
    position: fixed;
    background-color: #7ab730;
    border: 1px solid #7ab730;
    width: 45px;
    height: 45px;
    display: block;
    bottom: 20px;
    right: 30px;
}

.img-reponsive {
    width: 100%;
}

.img-reponsive::after {
    content: "";
    display: block;
    padding-bottom: 66.47%;
}

.img-transitions {
    transition: 0.5s;
}

/* 
.img-transitions:hover {
    transform: scale(1.2);
} */

.social-transitions:hover .img-transitions {
    transform: scale(1.2);
}

.social-transitions:hover .pack-social {
    opacity: 1;

}

.pack-social {
    transition: 0.5s;
    top: 0px;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons {
    height: 35px;
    width: 35px;
    border: 1px solid #7ab730;
    transition: 0.5s;
}

.social-icons:hover {
    background-color: #7ab730;
}

.social-icons:hover .text-green-limon {
    color: #fff;
}